
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(240, 21, 21);
    text-align: left;
    font-size: 30px;
    background-color: black;
    margin-top: 10px;
}

nav {
    background-color: black;
    color: rgb(245, 22, 22);
    padding: 10px 10px;
    
}

#principal {
    background-color: rgb(56, 26, 226);
}

.bloco1 {
    color: pink;
    background-color: white;
}

.bloco2 {
    color: aqua;
    background-color: brown;
}

footer {
    background-color: bisque;
}