@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.inicio {
    background-image: url(imagens/fundo.jpg);
    text-align: center;
    height: 300px;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight:bold;
    background-repeat: no-repeat;
}


nav {
    background-color: #f6faf9;
    color: rgb(3, 3, 3);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;

}

a:link {
    color: rgb(219, 39, 39);
    text-decoration: none;
    border-radius: 3px;
 }

a:visited {
    color: rgb(7, 0, 0);
    text-decoration: none;
 }
 
 a:active {
    color: rgb(10, 10, 10);
    text-decoration: none;
    background-color: rgba(31, 90, 90, 0.774);
    border-radius: 3px;
    
 }

footer {
    color: rgb(7, 0, 0);
    background-color: white;
    text-align: center;
    font-family: 'M PLUS Rounded', sans-serif;
}

